{% extends '@layout/default.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Ejemplo de firmado de PDF</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('pdf') }}" class="btn btn-primary btn-lg">Generar PDF Firmado</a>
        </div>
    </div>
{% endblock %}
